<section>
    <div class="container">
        <div class="ads-header-container">
            Тут фильтр
        </div>
        <div>
            <a href="@Url.Action("CreateAdView")">Создать объявление</a>
        </div>
        <div class="ads-buttom-container">
            <div class="ads-list">
                тут список
                <button action="getLocation()">Найти меня</button>
            </div>
            <div id="map" style="width: 600px; height: 400px"></div>
        </div>

    </div>
</section>