<section>
    <div class="container">
        <form asp-action="CreateAd" asp-controller="Home" asp-antiforgery="true" enctype="multipart/form-data">
            <label>Название</label>
            <input type="text" name="name" />
            <br />
            <label>Описание</label>
            <input type="text" name="description" />
            <br />
            <label>Вид животного</label>
            <input type="text" name="kindofanimal" />
            <br />
            <label>Окрас</label>
            <input type="text" name="color" />
            <br />
            <label>Выбрать фотографии</label>
            <input type="file" accept=".jpg,.jpeg,.png" name="photo" multiple />
            <br />
            <p>Выберите тип объявления:</p>
            <div>
                <input type="radio" id="loss" name="typead" value="loss" />
                <label for="loss">Потеря</label>
                <input type="radio" id="find" name="typead" value="find" />
                <label for="find">Находка</label>
            </div>
            <button>Показать схожие объявлния</button>
            <br />
            <input type="submit" />
            <input type="reset" />
        </form>
    </div>
</section>