<section>
    <div class="container">
        <div class="result">
            @ViewBag.Result
        </div>
        <form asp-action="Login" asp-controller="Home" asp-antiforgery="true">
            <label>Логин</label>
            <input type="text" name="login" />
            <br />
            <label>Пароль</label>
            <input type="password" name="password" />
            <br />
            <input type="submit" />
        </form>
    </div>
</section>