<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <title>1</title>
</head>
<body>
    <div id="images"></div>
    <form id="myForm">
        <p><input type="text" name="caption" /></p>
        <p><input type="text" name="description" /></p>
        <p><input type="file" name="images" onchange="myFunc(this)" multiple/></p>
        <p><input type="button" onclick="createUser()"></p>
    </form>
</body>
</html>